.wrapper {
  font-family: sans-serif;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: start;
}

h1 {
  color: hsl(200 50% 60%);
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  filter: brightness(.94);
}
