:root {
  --color-navy-nightfall: #0d151b;
  --color-tangerine-sunset: #fb4b37;
  --color-golden-sunset: #fbcc3b;
  --color-amber-dawn: #ffd986;
  --color-azure-afternoon: #629bc2;
  --color-ivory-daybreak: #f0ebeb;
  --color-light-sand-dune: #d6d2c2;
  --color-evening-shadow: #514a45;
}

body {
  margin: 0;
  background-color: var(--color-navy-nightfall);
}

#svg_root {
  fill: none;
  stroke: none;
  stroke-width: 0.01;
  width: 100%;
  display: block;
}

.test_dot {
  fill: var(--color-tangerine-sunset);
}

.outline {
  stroke: hsl(0, 0%, 100%);
  stroke-width: 0.002;
}

.time_series_path {
  stroke: var(--color-tangerine-sunset);
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

#trigger_button {
  --width: 90px;
  text-align: center;
  width: var(--width);
  position: absolute;
  left: calc(50% - var(--width) / 2);
  bottom: 60px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: hsl(165, 50%, 80%);
  border-radius: 8px;
  border: 1px solid hsl(165, 80%, 20%);
  color: hsl(165, 80%, 15%);
  transition: all 0.2s;
}

button:hover {
  filter: brightness(0.94);
}

button:active {
  filter: brightness(0.74);
  transform: translate(0, 1px) scale(0.99);
}
