body {
  background-color: hsl(212, 90%, 90%);
}

.wrapper {
  font-family: sans-serif;
}

h1 {
  color: hsl(320 90% 40%);
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 8px;
}

p {
  line-height: 1.5;
}

a {
  font-weight: 600;
  font-size: 1.1em;
}

section {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
